--
-- PostgreSQL database dump
--

\restrict y87XxvdczvkpfbRzcHM4sVEiYwqDMOfWGFaqWPHiNKGy8Zs1iOO6yaPopQKlckf

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: limpiar_usuarios_eliminados(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.limpiar_usuarios_eliminados() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  -- Elimina f├¡sicamente si detecta el patr├│n _eliminado_ en el correo
  IF OLD.correo LIKE '%_eliminado_%' THEN
    DELETE FROM usuarios WHERE id = OLD.id;
    RETURN NULL;
  END IF;
  RETURN OLD;
END;
$$;


ALTER FUNCTION public.limpiar_usuarios_eliminados() OWNER TO postgres;

--
-- Name: sync_usuario_estado(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.sync_usuario_estado() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Solo sincronizar si alguno de los dos campos cambia
    IF (NEW.estado IS DISTINCT FROM OLD.estado) OR 
       (NEW.activo IS DISTINCT FROM OLD.activo) THEN
        
        -- Si estado cambia, actualizar activo
        IF NEW.estado IN ('inactivo', 'suspendido', 'bloqueado', 'eliminado') THEN
            NEW.activo = false;
        ELSIF NEW.estado = 'activo' THEN
            NEW.activo = true;
        END IF;
        
        -- Si activo cambia manualmente, actualizar estado
        IF NEW.activo = false AND OLD.activo = true THEN
            NEW.estado = 'inactivo';
        ELSIF NEW.activo = true AND OLD.activo = false THEN
            NEW.estado = 'activo';
        END IF;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.sync_usuario_estado() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_point; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.access_point (
    id integer NOT NULL,
    ip character varying(15),
    ubicacion character varying(100) NOT NULL,
    serial character varying(50),
    modelo character varying(50),
    version character varying(20),
    arquitectura character varying(20),
    mac character varying(20),
    estado character varying(20) DEFAULT 'Activo'::character varying,
    fecha_ingreso date NOT NULL,
    observacion text,
    id_usuarios_responsable integer,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    trial186 character varying(50),
    activo_fijo character varying(50)
);


ALTER TABLE public.access_point OWNER TO postgres;

--
-- Name: access_point_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.access_point_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.access_point_id_seq OWNER TO postgres;

--
-- Name: access_point_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.access_point_id_seq OWNED BY public.access_point.id;


--
-- Name: asistencias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asistencias (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    tipo character varying(10) NOT NULL,
    fecha timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    foto_path character varying(500),
    ip_origen character varying(50),
    user_agent character varying(500),
    registrante_id integer,
    registrante_nombre character varying(255),
    registrante_role character varying(50),
    CONSTRAINT asistencias_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['entrada'::character varying, 'salida'::character varying])::text[])))
);


ALTER TABLE public.asistencias OWNER TO postgres;

--
-- Name: asistencias_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.asistencias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asistencias_id_seq OWNER TO postgres;

--
-- Name: asistencias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.asistencias_id_seq OWNED BY public.asistencias.id;


--
-- Name: etiquetadoras; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.etiquetadoras (
    id integer NOT NULL,
    ip character varying(15),
    ubicacion character varying(100) NOT NULL,
    activo boolean DEFAULT true,
    serial character varying(50),
    modelo character varying(50),
    serial_aplicador character varying(50),
    mac character varying(17),
    estado character varying(20) DEFAULT 'Activo'::character varying,
    fecha_ingreso date NOT NULL,
    observaciones text,
    id_usuarios_responsable integer,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    trial186 character varying(50),
    activo_fijo character varying(50)
);


ALTER TABLE public.etiquetadoras OWNER TO postgres;

--
-- Name: etiquetadoras_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.etiquetadoras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.etiquetadoras_id_seq OWNER TO postgres;

--
-- Name: etiquetadoras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.etiquetadoras_id_seq OWNED BY public.etiquetadoras.id;


--
-- Name: historial_estados; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.historial_estados (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    estado_anterior character varying(20),
    estado_nuevo character varying(20) NOT NULL,
    motivo text,
    administrador_id integer,
    fecha timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.historial_estados OWNER TO postgres;

--
-- Name: historial_estados_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.historial_estados_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.historial_estados_id_seq OWNER TO postgres;

--
-- Name: historial_estados_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.historial_estados_id_seq OWNED BY public.historial_estados.id;


--
-- Name: horarios_calendario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.horarios_calendario (
    id integer NOT NULL,
    mes integer NOT NULL,
    anio integer NOT NULL,
    datos_calendario jsonb NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    id_usuario_creo integer,
    orden_tecnicos jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.horarios_calendario OWNER TO postgres;

--
-- Name: horarios_calendario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.horarios_calendario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.horarios_calendario_id_seq OWNER TO postgres;

--
-- Name: horarios_calendario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.horarios_calendario_id_seq OWNED BY public.horarios_calendario.id;


--
-- Name: lectores_qr; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lectores_qr (
    id integer NOT NULL,
    ubicacion character varying(100) NOT NULL,
    activo boolean DEFAULT true,
    modelo character varying(50) NOT NULL,
    estado character varying(20) DEFAULT 'Activo'::character varying,
    fecha_ingreso date NOT NULL,
    observaciones text,
    id_usuarios_responsable integer,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    trial186 character varying(50),
    activo_fijo character varying(50)
);


ALTER TABLE public.lectores_qr OWNER TO postgres;

--
-- Name: lectores_qr_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lectores_qr_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lectores_qr_id_seq OWNER TO postgres;

--
-- Name: lectores_qr_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lectores_qr_id_seq OWNED BY public.lectores_qr.id;


--
-- Name: mantenimientos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mantenimientos (
    id integer NOT NULL,
    id_usuarios integer,
    tipo character varying(50) NOT NULL,
    fecha date NOT NULL,
    id_dispositivo integer,
    id_repuesto integer,
    descripcion text,
    observaciones text,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    trial186 character varying(50),
    estado character varying(20) DEFAULT 'Pendiente'::character varying,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    dispositivo_tipo character varying(20),
    CONSTRAINT mantenimientos_estado_check CHECK (((estado)::text = ANY ((ARRAY['Pendiente'::character varying, 'En Progreso'::character varying, 'Completado'::character varying, 'Cancelado'::character varying])::text[])))
);


ALTER TABLE public.mantenimientos OWNER TO postgres;

--
-- Name: mantenimientos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mantenimientos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mantenimientos_id_seq OWNER TO postgres;

--
-- Name: mantenimientos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mantenimientos_id_seq OWNED BY public.mantenimientos.id;


--
-- Name: ordenadores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ordenadores (
    id integer NOT NULL,
    ip character varying(15),
    ubicacion character varying(100) NOT NULL,
    activo boolean DEFAULT true,
    serial character varying(50),
    estado character varying(20) DEFAULT 'Activo'::character varying,
    fecha_ingreso date NOT NULL,
    observaciones text,
    id_usuario_responsable integer,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    marca character varying(50),
    trial186 character varying(50),
    activo_fijo character varying(50)
);


ALTER TABLE public.ordenadores OWNER TO postgres;

--
-- Name: ordenadores_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ordenadores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ordenadores_id_seq OWNER TO postgres;

--
-- Name: ordenadores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ordenadores_id_seq OWNED BY public.ordenadores.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    id integer NOT NULL,
    user_id integer NOT NULL,
    token text NOT NULL,
    used boolean DEFAULT false,
    used_at timestamp without time zone,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.password_reset_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_reset_tokens_id_seq OWNER TO postgres;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.password_reset_tokens_id_seq OWNED BY public.password_reset_tokens.id;


--
-- Name: readers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.readers (
    id integer NOT NULL,
    ip character varying(15),
    ubicacion character varying(100) NOT NULL,
    no_maquina character varying(50),
    serial character varying(50),
    mac character varying(17),
    estado character varying(20) DEFAULT 'Activo'::character varying,
    fecha_ingreso date NOT NULL,
    observaciones text,
    id_usuario_responsable integer,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    trial186 character varying(50),
    activo_fijo character varying(50)
);


ALTER TABLE public.readers OWNER TO postgres;

--
-- Name: readers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.readers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.readers_id_seq OWNER TO postgres;

--
-- Name: readers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.readers_id_seq OWNED BY public.readers.id;


--
-- Name: repuestos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.repuestos (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    proceso character varying(50),
    descripcion text,
    codigo character varying(50) NOT NULL,
    codigo_siesa character varying(50),
    cantidad integer DEFAULT 0,
    rotacion character varying(20) DEFAULT 'Media'::character varying,
    stock_minimo integer DEFAULT 5,
    fecha_ingreso date NOT NULL,
    ubicacion character varying(100),
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    trial186 character varying(50)
);


ALTER TABLE public.repuestos OWNER TO postgres;

--
-- Name: repuestos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.repuestos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.repuestos_id_seq OWNER TO postgres;

--
-- Name: repuestos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.repuestos_id_seq OWNED BY public.repuestos.id;


--
-- Name: session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.session (
    sid character varying NOT NULL,
    sess json NOT NULL,
    expire timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.session OWNER TO postgres;

--
-- Name: tablets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tablets (
    id integer NOT NULL,
    ip character varying(15),
    ubicacion character varying(100) NOT NULL,
    no_maquina character varying(50),
    activo boolean DEFAULT true,
    serial character varying(50),
    estado character varying(20) DEFAULT 'Activo'::character varying,
    fecha_ingreso date NOT NULL,
    observaciones text,
    id_usuario_responsable integer,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    trial186 character varying(50),
    activo_fijo character varying(50)
);


ALTER TABLE public.tablets OWNER TO postgres;

--
-- Name: tablets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tablets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tablets_id_seq OWNER TO postgres;

--
-- Name: tablets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tablets_id_seq OWNED BY public.tablets.id;


--
-- Name: tecnicos_horarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tecnicos_horarios (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    color character varying(7) DEFAULT '#007bff'::character varying,
    activo boolean DEFAULT true,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tecnicos_horarios OWNER TO postgres;

--
-- Name: tecnicos_horarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tecnicos_horarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tecnicos_horarios_id_seq OWNER TO postgres;

--
-- Name: tecnicos_horarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tecnicos_horarios_id_seq OWNED BY public.tecnicos_horarios.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    cedula character varying(20) NOT NULL,
    nombre character varying(100) NOT NULL,
    correo character varying(100) NOT NULL,
    contrasena character varying(255) NOT NULL,
    fecha_registro timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    reset_token character varying(255),
    reset_token_expires timestamp without time zone,
    role character varying(20) DEFAULT 'user'::character varying,
    id_usuario_responsable integer,
    activo boolean DEFAULT true,
    deleted_at timestamp without time zone,
    deleted_by integer,
    estado character varying(20) DEFAULT 'activo'::character varying,
    fecha_expiracion_suspension timestamp without time zone,
    fecha_bloqueo timestamp without time zone,
    CONSTRAINT check_correo_format CHECK (((correo)::text ~* '^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$'::text)),
    CONSTRAINT check_fechas_validas CHECK ((((fecha_expiracion_suspension IS NULL) OR (fecha_expiracion_suspension > fecha_registro)) AND ((fecha_bloqueo IS NULL) OR (fecha_bloqueo > fecha_registro)) AND ((deleted_at IS NULL) OR (deleted_at >= fecha_registro)))),
    CONSTRAINT check_role_valido CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'user'::character varying, 'supervisor'::character varying, 'auditor'::character varying, 'empleado'::character varying])::text[]))),
    CONSTRAINT chk_estado CHECK (((estado)::text = ANY ((ARRAY['activo'::character varying, 'inactivo'::character varying, 'suspendido'::character varying, 'bloqueado'::character varying, 'pendiente'::character varying, 'eliminado'::character varying])::text[])))
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: access_point id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_point ALTER COLUMN id SET DEFAULT nextval('public.access_point_id_seq'::regclass);


--
-- Name: asistencias id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asistencias ALTER COLUMN id SET DEFAULT nextval('public.asistencias_id_seq'::regclass);


--
-- Name: etiquetadoras id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etiquetadoras ALTER COLUMN id SET DEFAULT nextval('public.etiquetadoras_id_seq'::regclass);


--
-- Name: historial_estados id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historial_estados ALTER COLUMN id SET DEFAULT nextval('public.historial_estados_id_seq'::regclass);


--
-- Name: horarios_calendario id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horarios_calendario ALTER COLUMN id SET DEFAULT nextval('public.horarios_calendario_id_seq'::regclass);


--
-- Name: lectores_qr id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lectores_qr ALTER COLUMN id SET DEFAULT nextval('public.lectores_qr_id_seq'::regclass);


--
-- Name: mantenimientos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mantenimientos ALTER COLUMN id SET DEFAULT nextval('public.mantenimientos_id_seq'::regclass);


--
-- Name: ordenadores id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordenadores ALTER COLUMN id SET DEFAULT nextval('public.ordenadores_id_seq'::regclass);


--
-- Name: password_reset_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens ALTER COLUMN id SET DEFAULT nextval('public.password_reset_tokens_id_seq'::regclass);


--
-- Name: readers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.readers ALTER COLUMN id SET DEFAULT nextval('public.readers_id_seq'::regclass);


--
-- Name: repuestos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.repuestos ALTER COLUMN id SET DEFAULT nextval('public.repuestos_id_seq'::regclass);


--
-- Name: tablets id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tablets ALTER COLUMN id SET DEFAULT nextval('public.tablets_id_seq'::regclass);


--
-- Name: tecnicos_horarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tecnicos_horarios ALTER COLUMN id SET DEFAULT nextval('public.tecnicos_horarios_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: access_point access_point_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_point
    ADD CONSTRAINT access_point_pkey PRIMARY KEY (id);


--
-- Name: asistencias asistencias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asistencias
    ADD CONSTRAINT asistencias_pkey PRIMARY KEY (id);


--
-- Name: etiquetadoras etiquetadoras_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etiquetadoras
    ADD CONSTRAINT etiquetadoras_pkey PRIMARY KEY (id);


--
-- Name: historial_estados historial_estados_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historial_estados
    ADD CONSTRAINT historial_estados_pkey PRIMARY KEY (id);


--
-- Name: horarios_calendario horarios_calendario_mes_anio_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horarios_calendario
    ADD CONSTRAINT horarios_calendario_mes_anio_key UNIQUE (mes, anio);


--
-- Name: horarios_calendario horarios_calendario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horarios_calendario
    ADD CONSTRAINT horarios_calendario_pkey PRIMARY KEY (id);


--
-- Name: lectores_qr lectores_qr_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lectores_qr
    ADD CONSTRAINT lectores_qr_pkey PRIMARY KEY (id);


--
-- Name: mantenimientos mantenimientos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mantenimientos
    ADD CONSTRAINT mantenimientos_pkey PRIMARY KEY (id);


--
-- Name: ordenadores ordenadores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordenadores
    ADD CONSTRAINT ordenadores_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_token_key UNIQUE (token);


--
-- Name: readers readers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.readers
    ADD CONSTRAINT readers_pkey PRIMARY KEY (id);


--
-- Name: repuestos repuestos_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.repuestos
    ADD CONSTRAINT repuestos_codigo_key UNIQUE (codigo);


--
-- Name: repuestos repuestos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.repuestos
    ADD CONSTRAINT repuestos_pkey PRIMARY KEY (id);


--
-- Name: session session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (sid);


--
-- Name: tablets tablets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tablets
    ADD CONSTRAINT tablets_pkey PRIMARY KEY (id);


--
-- Name: tecnicos_horarios tecnicos_horarios_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tecnicos_horarios
    ADD CONSTRAINT tecnicos_horarios_nombre_key UNIQUE (nombre);


--
-- Name: tecnicos_horarios tecnicos_horarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tecnicos_horarios
    ADD CONSTRAINT tecnicos_horarios_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_cedula_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_cedula_key UNIQUE (cedula);


--
-- Name: usuarios usuarios_correo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_correo_key UNIQUE (correo);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: idx_access_point_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_point_estado ON public.access_point USING btree (estado);


--
-- Name: idx_access_point_serial_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_access_point_serial_unique ON public.access_point USING btree (lower(TRIM(BOTH FROM serial))) WHERE ((serial IS NOT NULL) AND (TRIM(BOTH FROM serial) <> ''::text));


--
-- Name: idx_asistencias_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_asistencias_fecha ON public.asistencias USING btree (fecha DESC);


--
-- Name: idx_asistencias_registrante; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_asistencias_registrante ON public.asistencias USING btree (registrante_id);


--
-- Name: idx_asistencias_usuario_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_asistencias_usuario_fecha ON public.asistencias USING btree (usuario_id, fecha DESC);


--
-- Name: idx_etiquetadoras_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_etiquetadoras_estado ON public.etiquetadoras USING btree (estado);


--
-- Name: idx_etiquetadoras_serial_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_etiquetadoras_serial_unique ON public.etiquetadoras USING btree (lower(TRIM(BOTH FROM serial))) WHERE ((serial IS NOT NULL) AND (TRIM(BOTH FROM serial) <> ''::text));


--
-- Name: idx_historial_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_historial_fecha ON public.historial_estados USING btree (fecha);


--
-- Name: idx_historial_usuario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_historial_usuario ON public.historial_estados USING btree (usuario_id);


--
-- Name: idx_horarios_fecha_actualizacion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_horarios_fecha_actualizacion ON public.horarios_calendario USING btree (fecha_actualizacion);


--
-- Name: idx_horarios_mes_anio; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_horarios_mes_anio ON public.horarios_calendario USING btree (mes, anio);


--
-- Name: idx_lectores_qr_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lectores_qr_estado ON public.lectores_qr USING btree (estado);


--
-- Name: idx_mantenimientos_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mantenimientos_estado ON public.mantenimientos USING btree (estado);


--
-- Name: idx_ordenadores_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ordenadores_estado ON public.ordenadores USING btree (estado);


--
-- Name: idx_ordenadores_serial_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_ordenadores_serial_unique ON public.ordenadores USING btree (lower(TRIM(BOTH FROM serial))) WHERE ((serial IS NOT NULL) AND (TRIM(BOTH FROM serial) <> ''::text));


--
-- Name: idx_password_reset_tokens_expires; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_password_reset_tokens_expires ON public.password_reset_tokens USING btree (expires_at);


--
-- Name: idx_password_reset_tokens_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_password_reset_tokens_token ON public.password_reset_tokens USING btree (token);


--
-- Name: idx_password_reset_tokens_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_password_reset_tokens_user_id ON public.password_reset_tokens USING btree (user_id);


--
-- Name: idx_readers_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_readers_estado ON public.readers USING btree (estado);


--
-- Name: idx_readers_serial_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_readers_serial_unique ON public.readers USING btree (lower(TRIM(BOTH FROM serial))) WHERE ((serial IS NOT NULL) AND (TRIM(BOTH FROM serial) <> ''::text));


--
-- Name: idx_repuestos_cantidad; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_repuestos_cantidad ON public.repuestos USING btree (cantidad);


--
-- Name: idx_session_expire; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_session_expire ON public.session USING btree (expire);


--
-- Name: idx_tablets_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tablets_estado ON public.tablets USING btree (estado);


--
-- Name: idx_tablets_serial_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_tablets_serial_unique ON public.tablets USING btree (lower(TRIM(BOTH FROM serial))) WHERE ((serial IS NOT NULL) AND (TRIM(BOTH FROM serial) <> ''::text));


--
-- Name: idx_tecnicos_activo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tecnicos_activo ON public.tecnicos_horarios USING btree (activo);


--
-- Name: idx_usuarios_activo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_activo ON public.usuarios USING btree (activo);


--
-- Name: idx_usuarios_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_estado ON public.usuarios USING btree (estado);


--
-- Name: idx_usuarios_estado_activo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_estado_activo ON public.usuarios USING btree (estado, activo);


--
-- Name: idx_usuarios_no_eliminados; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_no_eliminados ON public.usuarios USING btree (id) WHERE (deleted_at IS NULL);


--
-- Name: idx_usuarios_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_role ON public.usuarios USING btree (role);


--
-- Name: usuarios trigger_limpiar_eliminados; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_limpiar_eliminados BEFORE UPDATE ON public.usuarios FOR EACH ROW EXECUTE FUNCTION public.limpiar_usuarios_eliminados();


--
-- Name: usuarios trigger_sync_estado; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_sync_estado BEFORE INSERT OR UPDATE ON public.usuarios FOR EACH ROW EXECUTE FUNCTION public.sync_usuario_estado();


--
-- Name: mantenimientos update_mantenimientos_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_mantenimientos_updated_at BEFORE UPDATE ON public.mantenimientos FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: access_point access_point_id_usuarios_responsable_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_point
    ADD CONSTRAINT access_point_id_usuarios_responsable_fkey FOREIGN KEY (id_usuarios_responsable) REFERENCES public.usuarios(id);


--
-- Name: asistencias asistencias_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asistencias
    ADD CONSTRAINT asistencias_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: etiquetadoras etiquetadoras_id_usuarios_responsable_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etiquetadoras
    ADD CONSTRAINT etiquetadoras_id_usuarios_responsable_fkey FOREIGN KEY (id_usuarios_responsable) REFERENCES public.usuarios(id);


--
-- Name: asistencias fk_asistencias_registrante; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asistencias
    ADD CONSTRAINT fk_asistencias_registrante FOREIGN KEY (registrante_id) REFERENCES public.usuarios(id) ON DELETE SET NULL;


--
-- Name: usuarios fk_deleted_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT fk_deleted_by FOREIGN KEY (deleted_by) REFERENCES public.usuarios(id) ON DELETE SET NULL;


--
-- Name: usuarios fk_usuario_responsable; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT fk_usuario_responsable FOREIGN KEY (id_usuario_responsable) REFERENCES public.usuarios(id) ON DELETE SET NULL;


--
-- Name: historial_estados historial_estados_administrador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historial_estados
    ADD CONSTRAINT historial_estados_administrador_id_fkey FOREIGN KEY (administrador_id) REFERENCES public.usuarios(id);


--
-- Name: historial_estados historial_estados_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historial_estados
    ADD CONSTRAINT historial_estados_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: horarios_calendario horarios_calendario_id_usuario_creo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horarios_calendario
    ADD CONSTRAINT horarios_calendario_id_usuario_creo_fkey FOREIGN KEY (id_usuario_creo) REFERENCES public.usuarios(id);


--
-- Name: lectores_qr lectores_qr_id_usuarios_responsable_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lectores_qr
    ADD CONSTRAINT lectores_qr_id_usuarios_responsable_fkey FOREIGN KEY (id_usuarios_responsable) REFERENCES public.usuarios(id);


--
-- Name: mantenimientos mantenimientos_id_usuarios_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mantenimientos
    ADD CONSTRAINT mantenimientos_id_usuarios_fkey FOREIGN KEY (id_usuarios) REFERENCES public.usuarios(id);


--
-- Name: ordenadores ordenadores_id_usuario_responsable_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordenadores
    ADD CONSTRAINT ordenadores_id_usuario_responsable_fkey FOREIGN KEY (id_usuario_responsable) REFERENCES public.usuarios(id);


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: readers readers_id_usuario_responsable_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.readers
    ADD CONSTRAINT readers_id_usuario_responsable_fkey FOREIGN KEY (id_usuario_responsable) REFERENCES public.usuarios(id);


--
-- Name: tablets tablets_id_usuario_responsable_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tablets
    ADD CONSTRAINT tablets_id_usuario_responsable_fkey FOREIGN KEY (id_usuario_responsable) REFERENCES public.usuarios(id);


--
-- PostgreSQL database dump complete
--

\unrestrict y87XxvdczvkpfbRzcHM4sVEiYwqDMOfWGFaqWPHiNKGy8Zs1iOO6yaPopQKlckf

